Origin: XBian
Package: xbian-package-kernel
Version: 1.1
Section: kernel
Essential: No
Priority: optional
Codename: wheezy
Architecture: armhf
Installed-Size: 69910
Replaces: xbian-package-kernel3.6.11
Conflicts: xbian-package-kernel3.6.11
Depends: xbian-package-firmware (>=1.4), xbian-package-initramfs-tools (>=1.0), xbian-package-splash (>=1.0)
Maintainer: Koenkk <development@xbian.org>
Description: XBian kernel for the Raspberry Pi.
