Origin: XBian
Package: xbian-package-kernel
Version: 1.0
Section: kernel
Essential: No
Priority: optional
Codename: wheezy
Architecture: armhf
Installed-Size: 69910
Replaces: xbian-package-kernel
Depends: xbian-package-firmware (>=1.4), xbian-package-initramfs-tools (>=1.0), xbian-package-splash (>=1.0)
Maintainer: Koenkk <development@xbian.org>
Description: Kernel 3.8.12-1 for the Raspberry Pi.
