Origin: XBian
Package: xbian-package-headers-3.8.12
Version: 1.0
Section: kernel
Essential: No
Priority: optional
Codename: wheezy
Architecture: armhf
Installed-Size: 69910
Depends: xbian-package-kernel-3.8.12 (=1.0)
Maintainer: Koenkk <development@xbian.org>
Description: Kernel 3.8.12 for the Raspberry Pi.
