Origin: XBian
Package: xbian-package-kernel3.6.11
Version: 1.4
Section: kernel
Essential: No
Priority: optional
Codename: wheezy
Architecture: armhf
Installed-Size: 39480
Depends: xbian-package-firmware (>=1.3), xbian-update (>=1.0-1)
Maintainer: Koenkk <development@xbian.org>
Description: Kernel 3.6.11 for the Raspberry Pi.
